html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    /*background: blanchedalmond;
    */
    border-radius: 0px !important;
    font-family: "";
    font-weight: 500;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

sub {
    font-size: 15px;
    margin-top: 9px;
    position: fixed;
    margin-left: 5px;
}


/* Top Bar Finito */

.Top_Bar {
    position: absolute;
    left: 410px;
    top: 0px;
    width: 1100px;
    height: 100px;
    z-index: 319;
}

.Top_Bar>.Team_A {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 445.5px;
    height: 100px;
    z-index: 318;
}

.Top_Bar>.Team_A>.Top_BG {
    background-image: url("../../files/img/hud_elements/Texture_Dirt_A.png");
    position: absolute;
    left: 100px;
    top: 0px;
    width: 270.5px;
    height: 100px;
    z-index: 282;
}

.Top_Bar>.Team_A>.Top_BG>.Team_A_Name {
    font-size: 70px;
    font-family: "Anybody UltraCondensed";
    color: rgb(236, 236, 236);
    font-weight: 500;
    line-height: 1.55;
    text-align: center;
    letter-spacing: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 316;
}

.Top_Bar>.Team_A>.Logo_Team_A_BG {
    background-image: url("../../files/img/hud_elements/Logo_Team_A_Noise.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index: 313;
}

.Top_Bar>.Team_A>.Logo_Team_A_BG img {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

.Top_Bar>.Team_A>.Score_Team_A_BG {
    background-image: url("../../files/img/hud_elements/Score_Team_A_Noise.png");
    position: absolute;
    left: 370px;
    top: 0px;
    width: 76px;
    height: 100px;
    z-index: 310;
}

.Top_Bar>.Team_A>.Score_Team_A_BG>.Score_Team_A {
    font-size: 75px;
    font-family: "Anybody UltraCondensed";
    font-weight: 600;
    color: rgb(236, 236, 236);
    line-height: 1.5;
    letter-spacing: 4;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 297;
}

.Top_Bar>.Team_A>.BO5_A {
    position: absolute;
    left: 445.5px;
    top: 31px;
    width: 20px;
    height: 69px;
    z-index: 306;
}

.Top_Bar>.Team_A>.BO5_A>.BO5_Team_A_BG {
    background-color: rgb(99, 64, 243);
    opacity: 0.2;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 69px;
    z-index: 307;
}

.Top_Bar>.Team_A>.BO5_A>.Game_1_Team_A {
    background-color: rgb(99, 64, 243);
    position: absolute;
    left: 6.5px;
    top: 7px;
    width: 8px;
    height: 24px;
    z-index: 308;
}

.Top_Bar>.Team_A>.BO5_A>.Game_2_Team_A {
    background-color: rgb(236, 236, 236);
    position: absolute;
    left: 6.5px;
    bottom: 7px;
    width: 8px;
    height: 24px;
    z-index: 309;
}

.Top_Bar>.Team_B {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 445.5px;
    height: 100px;
    z-index: 303;
}

.Top_Bar>.Team_B>.Top_BG {
    background-image: url("../../files/img/hud_elements/Texture_Dirt_A.png");
    position: absolute;
    right: 100px;
    top: 0px;
    width: 270.5px;
    height: 100px;
    z-index: 282;
}

.Top_Bar>.Team_B>.Top_BG>.Team_B_Name {
    font-size: 70px;
    font-family: "Anybody UltraCondensed";
    color: rgb(236, 236, 236);
    font-weight: 500;
    line-height: 1.55;
    text-align: center;
    letter-spacing: 2;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 301;
}

.Top_Bar>.Team_B>.Logo_Team_B_BG {
    background-image: url("../../files/img/hud_elements/Logo_Team_B_Noise.png");
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index: 298;
}

.Top_Bar>.Team_B>.Logo_Team_B_BG img {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

.Top_Bar>.Team_B>.Score_Team_B_BG {
    background-image: url("../../files/img/hud_elements/Score_Team_B_Noise.png");
    position: absolute;
    right: 370px;
    top: 0px;
    width: 76px;
    height: 100px;
    z-index: 294;
}

.Top_Bar>.Team_B>.Score_Team_B_BG>.Score_Team_B {
    font-size: 75px;
    font-family: "Anybody UltraCondensed";
    font-weight: 600;
    color: rgb(236, 236, 236);
    line-height: 1.5;
    letter-spacing: 4;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 297;
}

.Top_Bar>.Team_B>.BO5_B {
    position: absolute;
    right: 445.5px;
    top: 31px;
    width: 20px;
    height: 69px;
    z-index: 295;
}

.Top_Bar>.Team_B>.BO5_B>.BO5_Team_B_BG {
    background-color: rgb(255, 77, 64);
    opacity: 0.2;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 69px;
    z-index: 296;
}

.Top_Bar>.Team_B>.BO5_B>.Game_1_Team_B {
    background-color: rgb(255, 77, 64);
    position: absolute;
    right: 6.5px;
    top: 7px;
    width: 8px;
    height: 24px;
    z-index: 297;
}

.Top_Bar>.Team_B>.BO5_B>.Game_2_Team_B {
    background-color: rgb(236, 236, 236);
    position: absolute;
    right: 6.5px;
    bottom: 7px;
    width: 8px;
    height: 24px;
    z-index: 298;
}

.Top_Bar>.Round_BG {
    background-color: rgb(236, 236, 236);
    position: absolute;
    left: 446px;
    top: 0px;
    width: 209px;
    height: 31px;
    z-index: 287;
}

.Top_Bar>.Round_BG>.Round {
    font-size: 20px;
    color: rgb(44, 43, 48);
    font-family: "Anybody Condensed";
    font-weight: bold;
    color: rgb(44, 43, 48);
    line-height: 1.8;
    text-align: center;
    position: absolute;
    left: 5%;
    top: 0px;
    width: 90%;
    height: 100%;
    z-index: 286;
}

.Top_Bar>.Timer_BG {
    background-color: rgb(44, 43, 48);
    position: absolute;
    left: 446px;
    top: 31px;
    width: 209px;
    height: 69px;
    z-index: 285;
}

.Top_Bar>.Timer_BG>.Timer {
    font-size: 60px;
    font-family: "Anybody UltraCondensed";
    font-weight: bold;
    color: rgb(236, 236, 236);
    letter-spacing: 3;
    line-height: 1.3;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 0px;
    width: 80%;
    height: 100%;
    z-index: 284;
}


/* Top Bar Finito */


/* Sponsor Bar */

.Sponsors_Bar {
    position: absolute;
    left: 630px;
    top: 1001px;
    width: 660px;
    height: 79px;
    z-index: 6;
}

.Sponsors_Bar>.Sponsors_BG {
    background-color: rgb(44, 43, 48);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.Sponsors_Bar>.Sponsors_BG>.back {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.Sponsors_Bar>.Sponsors_BG>.back img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.Sponsors_Bar>.Sponsors_BG>.sponsors {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 13;
}

.Sponsors_Bar>.Sponsors_BG>.sponsors img {
    position: absolute;
    left: 5%;
    top: 15%;
    width: 90%;
    height: 70%;
    z-index: 14;
}


/* Sponsor Bar Finito */


/* Spectate Container */

.Spectate_Container {
    position: absolute;
    left: 630px;
    top: 892px;
    width: 660px;
    height: 110px;
    z-index: 56;
}

.Spectate_Container>.Spectate_Bar {
    background-image: url(../../files/img/hud_elements/Texture_Fluid.png);
    /* opacity: 1; */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 55;
}

.Spectate_Container>.Spectate_Bar>.Country_Spectate {
    position: absolute;
    right: 211px;
    top: 18px;
    width: 35px;
    height: 27px;
    z-index: 54;
}

.Spectate_Container>.Spectate_Bar>.Country_Spectate img {
    position: absolute;
    left: 0px;
    top: -3px;
    width: 33px;
    height: 33px;
    z-index: 54;
}

.Spectate_Container>.Spectate_Bar>.Name_Spectate {
    font-size: 30px;
    font-family: "Anybody Condensed";
    color: rgb(236, 236, 236);
    font-weight: bold;
    /* line-height: 1; */
    letter-spacing: 1.15;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    right: 9px;
    top: 18px;
    width: 194px;
    height: 27px;
    z-index: 54;
}

.Spectate_Container>.Spectate_Bar>.Infos {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    z-index: 53;
}

.Spectate_Container>.Spectate_Bar>.Health_Icon_Spectate {
    position: absolute;
    left: 20px;
    top: 18px;
    width: 27px;
    height: 27px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.Health_Icon_Spectate img {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 21px;
    height: 21px;
    z-index: 45;
}

.Spectate_Container>.Spectate_Bar>.Health_Spectate_BG {
    background-color: rgb(44, 43, 48);
    position: absolute;
    left: 53px;
    top: 18px;
    width: 194px;
    height: 27px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.Health_Spectate_BG>.Health_Spectate {
    font-size: 20px;
    font-family: "Anybody Condensed";
    color: rgb(236, 236, 236);
    font-weight: bold;
    letter-spacing: 1.7;
    line-height: 1.1;
    text-align: center;
    position: absolute;
    left: 45%;
    top: 5px;
    width: 10%;
    z-index: 45;
}

.Spectate_Container>.Spectate_Bar>.Health_Spectate_BG>.Health_Bar_Spectate {
    background-color: rgb(99, 64, 243);
    position: absolute;
    left: 1.5%;
    top: 10%;
    width: 48%;
    height: 80%;
    z-index: 44;
}

.Spectate_Container>.Spectate_Bar>.Ammo_Spectate_BG {
    background-color: rgb(44, 43, 48);
    position: absolute;
    left: 53px;
    top: 65px;
    width: 194px;
    height: 27px;
    z-index: 43;
}

.Spectate_Container>.Spectate_Bar>.Ammo_Spectate_BG>.Ammo_Spectate {
    font-size: 20px;
    font-family: "Anybody Condensed";
    color: rgb(236, 236, 236);
    font-weight: bold;
    letter-spacing: 1.7;
    line-height: 1.1;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 5px;
    width: 20%;
    z-index: 45;
}

.Spectate_Container>.Spectate_Bar>.Ammo_Icon_Spectate {
    position: absolute;
    left: 20px;
    top: 65px;
    width: 27px;
    height: 27px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.Ammo_Icon_Spectate img {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 21px;
    height: 21px;
    z-index: 45;
}

.Spectate_Container>.Spectate_Bar>.Photo_AREA {
    /*background-color: rgb(236, 236, 236);*/
    position: absolute;
    left: 253px;
    top: -90px;
    width: 155px;
    height: 200px;
    z-index: 40;
}

.Spectate_Container>.Spectate_Bar>.Photo_AREA>.Player_Photo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 155px;
    height: 200px;
    z-index: 39;
}

.Spectate_Container>.Spectate_Bar>.Photo_AREA>.Player_Photo img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 38;
}

.Spectate_Container>.Spectate_Bar>.defuse {
    position: absolute;
    right: 221px;
    top: 66.5px;
    width: 24px;
    height: 23px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.defuse img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 23px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.shield {
    position: absolute;
    right: 188px;
    top: 66.5px;
    width: 24px;
    height: 23px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.shield img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>.helmet {
    position: absolute;
    right: 155px;
    top: 66.5px;
    width: 24px;
    height: 23px;
    z-index: 46;
}

Z .Spectate_Container>.Spectate_Bar>.helmet img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 23px;
    z-index: 46;
}

.Spectate_Container>.Spectate_Bar>#utility {
    position: absolute;
    right: 0px;
    top: 65.5px;
    width: 135px;
    height: 25px;
    z-index: 46;
    float: right;
    justify-content: flex-start;
    display: inline-flex;
}

.Spectate_Container>.Spectate_Bar>#utility img {
    position: absolute;
    height: 25px;
    max-height: 25px;
    width: auto;
    margin-right: 11px;
    display: inline-flex;
}